body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f0f8; /* светлый розовый */
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ff69b4; /* ярко-розовый */
    border-radius: 10px;
    background-color: #ffffff; /* белый */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #d5006d; /* темно-розовый */
}

.main-orderuid {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #ff69b4; /* ярко-розовый */
    border-radius: 5px;
}

.main-search {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4; /* ярко-розовый */
    color: #ffffff; /* белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.main-search:hover {
    background-color: #d5006d; /* темно-розовый */
}

pre {
    background-color: #f0f8ff; /* светлый фон для JSON */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ff69b4; /* ярко-розовый */
    overflow-x: auto;
}